@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');

ul{
    list-style-type: none;
    font-family: 'Itim', cursive;
    text-align: left;
}

li{
    padding-top: 5px;
}

img{
    max-width: 100%;
}


a{
    text-decoration: none;
    color: darkblue;
}

nav{
    height: 0px;
    overflow: hidden;
}

.cbox{
    display: none;
}

.cbox:checked ~ nav{
    height: 100px;
}

.slideset2 { /*Þetta er klasi sem ræður staðsetningu slideshowsins og passar það að bara eitt sjáist í einu breytir font einnig*/
    left: 22em;
    height: 10em; 
    position: relative;
    overflow: hidden;
    font-family: 'Itim', cursive;
    }

.slideset2 > div { /*Þessi klasi sér um að segja hversu lengi animation er, setur border, breytir bakgrunn og með pos abs sem heldur þessu á sýnum stað*/
    position: absolute; 
    top: 100%; 
    left: 0;
    animation: 12s autoplay2 infinite ease-in-out;
    border:white solid;
    padding: 10px;
    background: brown; 
   
}

@keyframes autoplay2 {  /*Þetta er að segja slideshowinu að hvernig það á að birtast og hverfa fékk þetta af þessari síðu https://www.w3.org/Style/Examples/007/slideshow.en.html#top */
  0% {top: 100%}
  4% {top: 0%}
  33.33% {top: 0%}
  37.33% {top: -100%}
  100% {top: -100%}
}

.slideset2 > div:nth-child(1) {animation-delay: 0s}
.slideset2 > div:nth-child(2) {animation-delay: 4s}
.slideset2 > div:nth-child(3) {animation-delay: 8s}


body{
    background-color: rgb(201, 212, 153);
    
}

.burger{
    display: grid;
    
}

.litur{
    
}

.fiskur{
    text-align: right;
}

.rodun{
    display: grid;
    grid-template-columns: 1fr;
}


.leturval{
    padding: 10px;
    font-family: 'Lobster', cursive;
    font-size: 20px;
    text-align: center;
}

.bil{
    max-width: 80%;
    margin: 0 auto;
}

.efnis2{
    background-color: rgb(248, 227, 164);
    padding: 15px;
    
}

.efnisy{
    display: contents;
    grid-template-columns:1fr ;
    
    
}



.fotur{display: grid;
    grid-template-columns: 1fr;
    max-width: 100%;
    margin: 0 auto;
    background-color:rgb(248, 227, 164) ;
    text-align: center;
}

.arrow{position: fixed;
    right:50px; bottom: 50px;
    background: rgb(103, 28, 233);
    height: 40px;
    width: 40px;
    border-radius: 40px;
    font-size: 2em;
    text-align: center;
    
    }

svg{
    position: absolute;
    left: 150px;

}

.ludan{
    margin-top: 40px;
    margin-bottom: 40px;
}






/*Talflan*/

    thead{
        background: rgb(248, 227, 164);
        font-size: 18px;
        
    }
    
    tbody{
        background: rgb(149, 204, 221);
    }
    
    td{
        padding: 0px 16px;
        
        text-align: center;
    }
    
    table{
        border-collapse: collapse;
        width: 100%;
    }
    
    tr{
        border: 1px solid;
    }


    /*Formið*/

    form{
        padding: 20px;
        border: 1px solid;
        margin-bottom: 40px;
        text-align: center;
    }

    label{
        font-weight: bold;
        font-family: 'Kanit', sans-serif;
    }
    
    input{
        background: rgb(230, 217, 217);
        font-family: 'Montserrat', sans-serif;
    }
    
    .ferd{
        background: rgb(230, 217, 217);
    }

    textarea{
        background: rgb(230, 217, 217);
    }

    .plass{
        margin: 10px;
        font-family: 'Montserrat', sans-serif;
    
    }

    .skra{
        font-family: 'Kanit', sans-serif;
    }



    /*POPUP GLUGGI*/
    .overlay {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: rgba(0, 0, 0, 0.7);
        transition: opacity 500ms;
        visibility: hidden;
        opacity: 0;}
      
      .box {
        text-align: center;
        margin-bottom: 20px;
           
      }
      
      .button {
        font-size: 1em;
        padding: 10px;
        color: #fff;
        border: 2px solid black;
        border-radius: 20px/50px;
        text-decoration: none;
        cursor: pointer;
        transition: all 0.3s ease-out;
      }
      .button:hover {
        background: rgba(187, 14, 14, 0.2);
      }
      
      
      .overlay:target {
        visibility: visible;
        opacity: 1;
      }
      
      .popup {
        margin: 70px auto;
        padding: 20px;
        background: #fff;
        border-radius: 5px;
        width: 30%;
        position: relative;
        transition: all 5s ease-in-out;
      }
      
      .popup h2 {
        margin-top: 0;
        color: #333;
        font-family: Tahoma, Arial, sans-serif;
      }
      .popup .close {
        position: absolute;
        top: 20px;
        right: 30px;
        transition: all 200ms;
        font-size: 30px;
        font-weight: bold;
        text-decoration: none;
        color: #333;
      }
      .popup .close:hover {
        color: #06D85F;
      }
      .popup .content {
        max-height: 30%;
        overflow: auto;
      }
    
    
    @media screen and (max-width: 37.5em) {
        
        
        table thead {
          display: none;
        }
        
        tr {
        
          display: block;
          
        }
        
        table td {
          border-bottom: 1px solid;
          display: block;
          font-size: .8em;
          text-align: right;
        }
        
        table td::before {
          
          content: attr(data-label);
          float: left;
          font-weight: bold;
          
        }
        
        table td:last-child {
          border-bottom: 0;
        }
      }


@media screen and (min-width:37.5em){
    .rodun{display: grid;
    grid-template-columns: 1fr 1fr;}

    .fotur{display: grid; grid-template-columns: 1fr 1fr 1fr;}

    .efnisy{
        display: grid;
        grid-template-columns:1fr 1fr 1fr 1fr ;
        background-color: rgb(248, 227, 164);
        padding: 15px;
    }
    .burger{
        display: none;
    }
    
    nav{
        display: contents;
    }
    
    .cbox{
        display: none;
    }
    
    ul{
        text-align: center;
    }
    
    
}